header.principal{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("https://s3-alpha-sig.figma.com/img/bffd/222e/20f47b596b13ca5bbb596fb2ac279958?Expires=1674432000&Signature=B9nhSmud5231Hr2rYyRFdrMZhLFMkmYFgrsLFDofi-WFCL~6dX3cOXhIxeH79lPEut3kr-qfrs9ym~WYl4W4JKqu2C9DAoY0HQkxRY0KNyvi1X7EaseanMzEzjhKtEqH70mNiT84TsNRvzF0b~njsPshL8M9~jlk8BHF5INbH63tmNdd94sMnfxzrisgwRxo98AELEblPp8UXEAqcJB9r3uUlW~FR6BR-~b3vsq4PScVHV3m6qWNYuzC8PKVNeS7CxPnAxc~TwTFBZL9C9lALkOH05Hxz4ORVy~FAocZqdtPQTpQ8GGQP-DYee~EfrcppvFlXcsl7DX0wMDY3U-srQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    height: 40vh;
    background-size: cover;
    background-position: center; 

}
header.principal .invisible{
    visibility: visible;
}
main section.button1{
    margin-top: 0rem;
    margin-left: 2rem;
}
main .search2{
    margin-top: 10vh;
}