/* main  {
    
} */

main .proverbe{
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    color: white;
}
main .proverbe h1{
    font-size: xx-large;
}
main .proverbe h6{
    margin-top: 1rem;
    text-decoration: underline;
}


/* Section Button */


/* SEARCH */
main.catalogue_dispo section.search {
    margin: 2rem auto;
    width: 70%;
    padding: 1rem;
    border: solid 1px var(--primary-color);

}
main.catalogue_dispo section.search p{
    text-align: center;
    color: var(--primary-color);
    text-decoration: underline;
    
}
main.catalogue_dispo section.search form{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin:2rem auto;
    font-family: var(--second-typographie);
}
main.catalogue_dispo section.search form input{
    width: 15rem;
}
main.catalogue_dispo section.search form select{
    color: white;
}
main.catalogue_dispo section.search form button{
    background-color: white;
    padding: 0.2rem;
    border-radius: 30px;
}
main.catalogue_dispo section.search form button:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

main.catalogue_dispo section.search form input,main section.search form select{
    border-radius: 20px;
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    height: 2rem;
    color: white;

}
/* catalogue style 1 */

main  section table.style .titre a{
    width: 28%;
}
main  section.catalogue table.style1 .date_dedition a{
    width: 12%;
}
main section.catalogue table.style1 tbody td.cover a img{
    height: 3rem;
}

main section table.style1 tbody tr a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: small;
    font-weight: lighter;

}


/* details */
main.description .bottom{
    display: flex;
    width: 70%;
    margin-left: 8rem;


}
main.description section.cover{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.description section.cover img{
    height: 70%;
    margin-top: 1rem;
    height: 18rem;
}
main.description section.description{
    flex:3;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
main.description section.description .button{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 2rem;
}
main.description section.description table{
    text-align: left;
}
main.description section.description .button button{
    background-color: var(--primary-color);
    font-size: x-large;
    margin-bottom: 2rem;
    border: solid 1px var(--primary-color);
}
main.description section.description .button  a button{
    color: white;
    border-radius: 10px;
    padding: 0.2rem;
}
main.description section.description .button form button{
    background-color: white;
    width: 5rem;
    color: var(--primary-color);
}
main.description section.bottom section.description table,th{
    padding: 1rem;
    text-transform: capitalize;
}
