header.principal {
    height: 92vh; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://s3-alpha-sig.figma.com/img/fea7/8200/45543ad566fb953f341f4349478844dc?Expires=1673222400&Signature=pyMquZqZvG~V3e0ZT-CLZLTXSpwDBsLJXeuo6iMo9iUrq5wyHnaeW0MRJqRFE7mRFZrRbUl2wC9un84S0sgvA6YssLPklAnEaflzieiMjHNbQY7iMJO1RQWCLR749m8m2XtcWXZPufkcpVJbbhHFb1N1areCbY~LpEDzHZ-jv7MXouywciYoGgzJ2Peoxr1q7WBG~rzaxY1DrsuqskrKC7blFRPPCAwy5gdj6RGTg1zqkqYaALxiRcAHzLFirsOx~QojgWhUEPTvGdhRmGQkmpHwrDRGuToPq63GGrQ4e5sFn1Wfr2kJu4pC0zxddTvahtw-UCYDc-HqP1aMnO-Suw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: 100% 100%;
    background-position: center; 
}

