:root{
    --primary-color:#311005;
    --second-color:rgba(94, 68, 60, 1);
    --text-typographie:'PT Serif', serif;
    --second-typographie:'lato', serif;
    --blue:rgba(10, 184, 195, 1);
}
*{
    margin:0;
    padding:0;
    font-family: var(--text-typographie);

}
a{
    text-decoration: none;
    color:white;
    font-size: .8rem;
    font-family: var(--text-typographie);
    font-weight: bold;
}
body>header.principal{
    position:absolute;
    width: 100%;
    z-index: -5;
}
main{
    z-index:1;
    margin-top: 25vh;
    position: absolute;
    width: 100%;

}

header.principal>section{
    display: flex;
    height: 10vh;
    width: 90%;
    margin: 1.5rem auto;
    justify-content: space-between;
}
header.principal .invisible{
    visibility: hidden;
}
header.principal .user,header.principal .invisible{
    width: 15%;
    display: flex;
    align-items: center;
}
header.principal .user:hover{
    background-color: rgba(255, 255, 255, 0.31);
    border-radius: 5px;
}

/* button acceuil*/
button:hover{
    cursor: pointer;
}
.search2{
    margin-left: 4rem;
    font-family: var(--second-typographie);
    width: 35%;
    justify-content: space-between;
    height: 2.2rem;
    display: flex;
}
.search2 select,.search2 button{
    padding:0.5rem;
    background-color: white;
    border-radius: 12px;
    border: solid 2px var(--primary-color);
}
.search2 button:hover{
    background-color: var(--primary-color);
    color: white;
}

