header.principal{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("https://s3-alpha-sig.figma.com/img/dc7e/6829/ae8a6f458856d9c48f2d91a764ed8207?Expires=1674432000&Signature=IAj-JMsDuw1WewqjqcWESuveQXHDb--d9xoux2HtRaaLdncTdYjYf3Y2PviC~nFLDZRxfoUe-X3sLduUYy4723dVFljvGIin9nydSj0IMzz3oSaMhn89xbQB77otud9Wd1~QeNsNSXN1IaH1wsibUBpvPzmrdhL5W1tU0HzpJDSqWJmurVIZbbAYeo5dd59RFA9YtLYcSRupOcIDoa5jAMq1AyczNjPX3J7X0W41NczGgEYs0Dr8Xd3emWWFgU3SWXI22-Z5ESLN2vyKCummxsOJ~ONj5uqvYapDBS1P6lbrrnjWIUBfIguXg0kYn7Qsdb64pj~d6yYpLRLnYUYIog__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: cover;
    height: 40vh;
    background-position: center; 


}
header.secondaire table.lien{
    text-align: left;
    background-color: white;
    border-spacing: 5px;
    empty-cells: show;
    width: 80%;
    margin-left: 5rem;
    margin-top: 5rem;
    border-radius: 15px;
    position: absolute;
    padding-top: 2rem;
    padding-left: 2rem;

}

header.secondaire table.lien td.cell1, table.lien td.cell2{
    border-bottom: 1px solid black;
    
}
header.secondaire table.lien td a{
    color: black;
}
header.secondaire table.lien th,header.secondaire table.lien td.actif a,header.secondaire table.lien td a:hover{
    color: var(--blue);
}
main {
    margin-top: 70vh;
}