header.principal{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://s3-alpha-sig.figma.com/img/5b6d/00b4/10454be3f79d1df898a9b3b520c8c24b?Expires=1674432000&Signature=QIYdpBtSocvfO6Z7-oliTh3Yk9QEGhtvl5eudF9zqMprOZd8vwfCwAFg7QvHW9HCubn7OdSqfjW1drXXWg08j0DgdjNjMY817NLqAAwchVYeesmr-sI-CzgDPGFC8u9QbSPKYETRsXuNoq8jy7jdJdzQ3DFpxde~Ww8csbpBjJRcJILQG3KdedfHYBkYnYJchqEW3NTtWRvHxhtaoQH6-Rl6U6PU978wY9XJygFvLc7HoanvKX8VM43eF5JQSK1dMr4X1YUhO7GX3r7t9h~qrx97CxISICA~N6gRZ3PSoGMI31xj~wX71EaI3RAtyw~NUEgxj0ZNfHEDqlnNCAMA3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: cover;
    height: 48vh;
    background-position: center;
}
header.secondaire{
    position: absolute; 
    margin: 11rem auto;
    width: 100% ;
}
section.button1 {
    margin:0 auto;
    width: 80%;
}
main{
    margin-top: 15rem;
}
main>table.style2{
    width: 90%;
}