main table.style1{
    empty-cells: show;
    border-collapse: collapse; 
    width: 85%;
    margin: 2rem auto 0 auto;
    text-transform: capitalize;
    text-align: center;

}

main table.style1>thead>tr {
    background-color: var(--primary-color);
    color: white;
    height: 2rem;
    font-size: small;
}
main table.style1>thead>tr th{
    padding: 0;
}
main  table.style1 .cell1{
    width: 28%;
}
main  table.style1 .cell3{
    width: 12%;
    
}
main table.style1>tbody td.cover img{
    height: 3rem;
}
main table.style1>tbody tr{
    
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 0 0 2px 0;
}
main table.style1>tbody tr {
    color: var(--primary-color);
    text-decoration: none;
    font-size: small;
    font-weight: lighter;

}
main table.style1>tbody tr td{
    padding: 1rem;
    text-align: center;
}